<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- dpcp 注入dpcp连接池 -->
    <bean id="dbcp"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="root">
        </property>
        <property name="password" value="">
        </property>
        <property name="driverClassName"
                  value="com.mysql.jdbc.Driver">
        </property>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/bbs?useUnicode=true&amp;characterEncoding=utf8">
        </property>
    </bean>

    <bean id="ssf"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dbcp">
        </property>
        <property name="mapperLocations"
                  value="classpath:org/sky/sql/*.xml">
        </property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="org.sky.dao">
        </property>
        <!-- ssf自动注入 -->
    </bean>
    <context:component-scan
            base-package="org.sky"/>
    <mvc:annotation-driven />
</beans>